
body{ 

    /* background-color: rgb(87, 103, 161) ; */
    /* height: 7000px; */
    /* background-image: url('../images/20.jpg') ;  
    background-repeat: repeat;
    background-size: cover;  */
}
/* START HEADER and NAVBAR AND CONTENT  */
.header{
    background-color: #87509c ;
    padding: 20px 0;
    /* height: 650px; */
}
.header .navbar-default {
    background-color: unset;
    border: unset;
  
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    /* color: rgb(51, 51, 51); */
    background-color: #643a79 ;
}
.header .navbar-nav a {
    color: rgb(255, 255, 255) !important;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Chilanka', serif;
    margin-top: 17px;
    border-radius: 8px;
    padding: 19px 25px;
}
.in{
    transition: all .5s;
}
.in .navbar-collapse,  .in .navbar-header, .in {
    margin-right: -15px;
    margin-left: -15px;
    border: none;
}
.in .nav>li {
    position: relative;
    display: block;
    border-bottom: solid 1px #fff;
}
.in .navbar-nav {
    margin: 7.5px -15px;
    background: #0000006b;
    text-align: center;
}
.header h1 {
    font-size: 45px;
    margin: 120px 0px 90px;
    color: gainsboro;
    font-weight: bold;
    font-family: 'Chilanka', serif;
    text-align: center;
    line-height: 70px;
}
.header .butt1 {
    
        text-align: center;
        width: auto;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        padding: 18px 105px;
        background: #eb7d4d;
        color: #fff;
        border: #eb7d4d;
        box-shadow: 0px 0px 7px 0px #eb7d4d;
        margin-bottom: 30px;
        outline: none;
        border-radius: 4px;
        transition: all .5s ;
        font-family: 'Chilanka';
        font-weight: bold ;
}
.header .butt1:hover{
    background-color: #17c2a4 ;
    box-shadow: 0px 0px 7px 0px #17c2a4;
}

/* End HEADER and NAVBAR AND CONTENT  */
/* START SERVICE AND PROVIED   */
.service {
    background-color: #17C2A4 ;
    padding: 70px 0;
    /* height: 650px; */
}
.service h1 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Chilanka', serif;
    text-align: center;
    /* padding: 45px 0; */
    /* margin: 70px 0; */
}
.service .ccr-line {
    width: 87px;
    height: 3px;
    background: #14a58c;
    margin: 35px auto;
    margin-top: 0;
    /* margin-bottom: 64px; */
}
.service .p1 {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Chilanka', serif;
    text-align: center;
    margin-bottom: 50px;
}
.service .detailes h3{

    color: #fff ;
    font-family: 'Chilanka', serif;
    margin-top: 40px ;
    font-weight: bold ;
}
.service .detailes p{

    color: #fff ;
    font-family: 'Chilanka', serif;
    font-size: 18px ;
}
.service .detailes img {
    transition: all .5s ;
}
.service .detailes img:hover {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
/* END  SERVICE AND PROVIED  */
/* START OUR TEAM  */
.TEAM {
    background-color: #E7F1F8;
    padding: 70px 0;
    /* height: 700px; */
}
.TEAM h1 {
    color: #3C4761;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Chilanka', serif;
    text-align: center;
    /* padding: 45px 0; */
    /* margin: 70px 0; */
}
.TEAM .ccr-line {
    width: 87px;
    height: 3px;
    background: #14A58C;
    margin: 35px auto;
    margin-top: 0;
    /* margin-bottom: 64px; */
}
.TEAM .p2 {
    color: #818C9E;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Chilanka', serif;
    text-align: center;
    margin-bottom: 50px;
}
.TEAM .detailes img {
    border-color: gray;
    border: 8px solid;
    border-radius: 55px;
    transition: all ease .5s ;
}
.TEAM .detailes img:hover {
    border-color: #3FBFE9 ;
    /* border: 8px solid;
    border-radius: 55px; */

}
.TEAM .detailes h3{

    color: #3C4761 ;
    font-family: 'Chilanka', serif;
    margin-top: 20px ;
    font-weight: bold ;
    font-family: 'Anton', sans-serif;
}
.TEAM .detailes h4{

    color: #3FBFE9 ;
    font-family: 'Chilanka', serif;
    margin-top: 20px ;
    margin-bottom: 25px;
    /* font-weight: bold ; */
    font-family: 'Anton', sans-serif;
}
.TEAM .detailes p{

    color: #818C9E ;
    font-family: 'Chilanka', serif;
    font-size: 18px ;
}

.TEAM .detailes i{
    font-size: 1em;
    background: #ccc;
    padding: 10px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
    color: #fff;
    margin: 3px auto;
    transition: all ease .6s ;
    
}

.TEAM .detailes .fa-facebook-square:hover {
    background-color: #4C66A4 ;
   
    transform: rotate(360deg);
   

}
.TEAM .detailes .fa-twitter-square:hover {
   
    background-color:  #2CA8D2 ;
    
    transform: rotate(360deg);
   

}
.TEAM .detailes .fa-linkedin-square:hover {
    background-color:  #399BDC ;
    
    transform: rotate(360deg);
    

}
.TEAM .detailes .fa-envelope:hover {
    background-color:  rgb(93, 98, 99) ;
    
    transform: rotate(360deg);
    

}
/* END OUR TEAM */

/* START SKILLS  */
.skills {
    padding: 50px 0 ;
    /* height: 700px; */
    color: #3C4761 ;
}
.skills h1{
    font-family: 'Chilanka', serif;

    color: #3C4761 ;
   
}
.skills .p3{
    
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 20px;
        font-family: 'Chilanka', serif;
        text-align: center;
        margin-bottom: 50px;
    
}
.skills .ccr-line {
    width: 87px;
    height: 3px;
    background: #DFE8ED ;
    margin: 35px auto;
    margin-top: 10px;
    /* margin-bottom: 64px; */
}
.ccr-skill-bg {
	text-align: center;
	color: #111;
	padding-top: 110px;
	padding-bottom: 110px;
}


 .element_from_right h3 ,  .element_from_left h3  {
    color: #3c4761;
    font-family: 'Chilanka', serif;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}

.tw-circle-chart {
	position: relative;
	text-align: center;
	margin: 0px auto;
	margin-bottom: 20px;
}
.tw-circle-chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
/* END SKILLS  */
/* START OUR PORTFOLIO */


.portfolio {
    padding: 50px 0 ;
    /* height: 700px; */
    background-color: #FFDD99 ;
}
.portfolio h1{
    font-family: 'Chilanka', serif;
     font-weight: bold ;
    color: #3C4761 ;
   
}
.portfolio .p3{
    
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family: 'Chilanka', serif;
        text-align: center;
        margin-bottom: 50px;
    
}
.portfolio .ccr-line {
    width: 87px;
    height: 3px;
    background: rgb(165, 145, 105) ;
    margin: 35px auto;
    margin-top: 10px;
    /* margin-bottom: 64px; */
}
.portfolio .ccr-menu {
    list-style: none;
    /* background-color: rgba(44, 169, 210, 0.493) ; */
}

.portfolio .ccr-menu li{
   display: inline-block;
    
}
.portfolio .ccr-menu li button{
    background-color: rgba(223, 192, 130, 0.83);
    padding: 10px 30px;
    margin: 0 10px;
    border: none;
  font-weight: bold ;
  font-family: 'Chilanka', serif;
  transition: all .5s ;
  border-radius: 15px ;
}


.portfolio .ccr-menu li button:hover {
    color: #fff ;
    box-shadow: 0px 0px 11px 2px rgba(223, 192, 130, 0.83);
}
.portfolio img{
    padding: 50px 0 20px;
}
.portfolio h4 {
     
        font-size: 25px;
        font-family: 'Chilanka', serif;
        font-weight: bold;
}
.portfolio .butt1 {
    
    text-align: center;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding: 18px 105px;
    background: #17C2A4 ;
    color: #fff;
    border: #17C2A4 ;
    box-shadow: 0px 0px 7px 0px #17C2A4 ;
    margin-bottom: 30px;
    outline: none;
    border-radius: 4px;
    transition: all .5s ;
    font-family: 'Chilanka';
    font-weight: bold ;
}
.portfolio .butt1:hover{
background-color: #87509C ;
box-shadow: 0px 0px 7px 0px #87509C;
}
/* END OUR PORTFOLIO */

/* START ABOUT US  */

.about {
    padding: 50px 0 ;
    /* height: 700px; */
    background-color: #D74680 ;
}
.about h1{
    font-family: 'Chilanka', serif;
     font-weight: bold ;
    color: rgb(255, 255, 255) ;
   
}
.about .p4{
    
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: 'Chilanka', serif;
        text-align: center;
        margin-bottom: 50px;
    
}
.about .ccr-line {
    width: 87px;
    height: 3px;
    background:#B73C6D ;
    margin: 35px auto;
    margin-top: 10px;
    /* margin-bottom: 64px; */
}
.about .detailes{
    margin-bottom: 25px !important; 
}
.about .detailes img {
    border-color: gray;
    border: 8px solid;
    border-radius: 55px;
    transition: all ease .5s ;
}
.about .detailes img:hover {
    border-color: #3FBFE9 ;
    /* border: 8px solid;
    border-radius: 55px; */

}
.about .detailes h3 {
    color: #3C4761;
    font-family: 'Chilanka', serif;
    /* margin-top: -75px; */
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}
.about .detailes h4{

    color: #FFD999 ;
    font-family: 'Chilanka', serif;
    margin-top: 20px ;
    margin-bottom: 25px;
    /* font-weight: bold ; */
    font-family: 'Anton', sans-serif;
}
.about .detailes p{

    color: rgb(255, 255, 255) ;
    font-family: 'Chilanka', serif;
    font-size: 18px ;
}

.about .detailes i{
    font-size: 1em;
    background: #714661;
    padding: 10px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
    color: #fff;
    margin: 3px auto;
    transition: all ease .6s ;
    
}

.about .detailes .fa-facebook-square:hover {
    background-color: #4C66A4 ;
   
    transform: rotate(360deg);
   

}
.about .detailes .fa-twitter-square:hover {
   
    background-color:  #2CA8D2 ;
    
    transform: rotate(360deg);
   

}
.about .detailes .fa-linkedin-square:hover {
    background-color:  #399BDC ;
    
    transform: rotate(360deg);
    

}
.about .detailes .fa-envelope:hover {
    background-color:  rgb(93, 98, 99) ;
    
    transform: rotate(360deg);
}

/* END ABOUT US  */

/* START GET CONTACT */
.contact {
    padding: 50px 0 ;
    /* height: 700px; */
    background-color: #3C5499 ;
}
.contact h1{
    font-family: 'Chilanka', serif;
     font-weight: bold ;
    color: rgb(255, 255, 255) ;
   
}
.contact .p5{
    
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: 'Chilanka', serif;
        text-align: center;
        margin-bottom: 50px;
    
}
.contact .ccr-line {
    width: 87px;
    height: 3px;
    background:#273A71 ;
    margin: 35px auto;
    margin-top: 10px;
    /* margin-bottom: 64px; */
}



.contact .input input,textarea  { 
     
        background-color: #273A71;
        border: none;
        padding: 35px 20px;
        margin: 5px;
        box-shadow: none ;
        color: #ffffff ;
        resize:none;
        box-shadow: 0px 0px 11px 0px #fff;
        font-family: 'Chilanka', serif;
        text-transform: capitalize ;


 
}
.contact .input3  textarea {
    width: 100%;
}
.contact .butt1 {
    text-align: center;
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 80px;
    padding: 18px 44px;
    background: #32BAE7;
    color: rgb(0, 0, 0);
    border: #32BAE7;
    box-shadow: 0px 0px 7px 0px #32BAE7;
    margin-bottom: 30px;
    outline: none;
    border-radius: 4px;
    transition: all .5s;
    font-family: 'Chilanka';
    font-weight: bold;

}
.contact .butt1:hover{
background-color: #fff ;
box-shadow: 0px 0px 7px 0px #fff;
}

/* END GET CONTACT */


/* START FOOTER  */
.footer {
    background-color: #344B8E ;
padding: 50px;
}
.footer .icons i {
    font-size: 35px;
    color: silver;
    padding: 20px;
    transition: all .6s ;
    
    
}
.footer .icons  i:hover{
   
    transform: rotate(360deg);
}


.footer .icons .fa-youtube-square:hover {
   color: #FF0000 ;
   
     
}
.footer .icons .fa-facebook-square:hover {
   
   color:  #091d46 ;
}

.footer .icons .fa-google-plus:hover {
   color:  #D74937 ;    
}
.footer .icons .fa-linkedin-square:hover {
   color:  #0077B5 ;    
}
.footer .icons .fa-twitter-square:hover {
   color:  #28AAE1 ;    
}
.footer .icons .fa-instagram:hover {
   color:  #BE0471 ;    
}

.footer  .copyright {
    color: silver;
    margin-top: 25px;
    font-family: cursive;
    font-size: 15px;
    font-weight: bold;
}
/* END FOOTER  */